.main-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

  margin: 0;
  padding: 0;
  padding-top: 20px;
  box-sizing: border-box;

  font-family: @font-family_base;

  background-color: @white;
}

.main-form__cards-block--desktop {
  display: none;
}

.main-middle__info-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-middle__logo {
  width: 55px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
}

.main-middle__h2 {
  width: 250px;

  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;

  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #821205;
  text-transform: uppercase;

}

.main-middle__tel {
  width: 100%;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  color: #004977;
  text-decoration: none;
}


.main-middle__about-block {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 100%;

  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 15px;
  box-sizing: border-box;

  font-family: @font-family_base;
  color: @white;

  background-color: @darkblue;
}

.main-middle__about-h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.main-middle__txt-wrapper {
  margin: 0;
  padding: 0;
}

.main-middle__about-txt {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 21px;
}









@media screen and (min-width: 1024px) {

  .main-middle {

  }



  .main-middle__h2-wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 430px;
  }


  .main-middle__info-block {
    flex-direction: row;
    align-items: center;
    width: 1024px;
    height: 280px;
    margin: 0 auto;
  }

  .main-middle__h2 {
    width: 100%;

    margin-bottom: 10px;

    text-align: left;
    font-size: 28px;
    line-height: 33px;
  }


  .main-middle__logo {
    flex: none;

    width: 70px;
    order: 2;

  }


  .main-middle__tel {
    width: 420px;

    text-align: right;
    font-size: 52px;
    line-height: 61px;
    order: 3;
  }

  .main-middle__about-block {
    flex-wrap: nowrap;
    align-items: center;
  }

  .main-middle__about-wrapper {
    display: flex;
    align-items: center;

    width: 1024px;

    margin: 0 auto;
    padding: 0;
  }

  .main-middle__about-h2 {
    flex: none;
    width: 180px;

    margin-bottom: 10px;

    font-size: 53px;
    line-height: 62px;
  }

  .main-middle__txt-wrapper {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    width: 460px;
  }

  .main-middle__txt-wrapper--width {
    width: 320px;
    align-self: flex-start;
  }

  .main-middle__about-txt {
    margin-bottom: 5px;
  }

}